html,
body,
div,
canvas {
  margin: 0;
  padding: 0;
}

body {
  padding: 10px;
  height: 100vh;
  background-color: black;
  color: chartreuse;
  font-family: monospace;
  text-align: center;
}

input[type="file"] {
  border: 1px solid gray;
}

#topHeading {
  padding: 5px;
}

#canvasContainer {
  display: flex;
  flex-direction: column;
  height: 90%;
  min-width: 300px;
  min-height: 300px;
}

@media (max-width: 750px) {
  body {
    font-size: 90%;
  }
}
/* Setting things up */
body {
  padding: 2em;
}

a {
  text-decoration: none;
  color: #fff;
}

/* Important stuff */
nav {
  position: relative;
}

.dropdown-toggle {
  padding: .5em 1em;
  background: #777;
  border-radius: .2em .2em 0 0;
}

ul.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  margin-top: .5em;
  background: #777;
  min-width: 12em;
  padding: 0;
  border-radius: 0 0 .2em .2em;
}
ul.dropdown li {
  list-style-type: none;
}
ul.dropdown li a {
  text-decoration: none;
  padding: .5em 1em;
  display: block;
}